$menuColor: #826550;
$burgerColor: #6a4d38;
$menuFont: #ffffff;
$mainBgColor: #f8f5f2;
$mainFontColor: #000000;
$headerColor: #242424;
$advantagesBgColor: #242424;
$advantagesIconColor: #826550
$advantagesFontColor: #f7f4f1;
$sliderBulletColor: #f8f5f2;
$sliderBgColor: #f8f5f2;